{% extends 'base.html' %}
{% import 'macros.html' as macro%}
<!-- <h1 align=center >GET THE BEST NEWS HIGHLIGHTS</h1> -->
{% block content %}
    <h3>GENERAL NEWS</h3>
    <ul>
        {{macro.displayNewsList(general)}}
        </ul>
        
        <h3>Business News</h3>
        <ul>
            {{macro.displayNewsList(business)}}
           
        </ul>

        <h3>Health News</h3>
        <ul>
            {{macro.displayNewsList(health)}}
           
        </ul>
       </body> 
       
{% end block%}
    


    </body>