{% extends 'base.html' %}
{% import 'macros.html' as macro%}
<!-- <h1 align=center >GET THE BEST NEWS HIGHLIGHTS</h1> -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    
{% endblock %}
{% block content %}
<style>
@import url('https://fonts.googleapis.com/css?family=Milonga');
 h1,p{
        display: block;
        font-family: 'Milonga', 'Trebuchet MS', Georgia, serif;
        color: #595a6a;
        font-size: 4.2em;
        margin-bottom: 5px;
        font-weight: normal;
        text-align: center;
      }
      ul {
        font-family: 'Milonga', 'Trebuchet MS', Georgia, serif;  
      }
      body{
          background-color: rgb(255, 240, 254)
      }
</style>

<div class="container">
    <div class="jumbotron">
    <h1 > Welcome to News Feed</h1>
    <p>Select a news source  from the list below and we will dynamically pull their top headlines.</p>
    </div>
</div>
    <ul>
        {{macro.displayNewsList(general)}}
        </ul>
        
        {% endblock %}    
            
       

    


   