{% macro displayNewsList(source_list) %}
    {% for source in source_list  %}
        <div class="col-xs-3 news-card">
            <a href="/news/{{source.id}}">
                 <li class="text-center">{{source.name}}</li>
            
            </div>
        
    {%endfor%}
    {% endmacro %}
    {%macro displayArticleList(article_list) %}
        {% for item in article_list %}
            <div class="col-xs-3 news-card">
                <p class="text-center"> </p>
                <img src="{{item.urlToImage}}" alt="image" class="img-responsive"/>
                <p>{{item.title}}</p>
          </div>
          {% endfor %}
        {% endmacro %}

        

