{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content %}
<style>
        @import url('https://fonts.googleapis.com/css?family=Milonga');
         h1{
                display: block;
                font-family: 'Milonga', 'Trebuchet MS', Georgia, serif;
                color: #595a6a;
                font-size: 4.2em;
                margin-bottom: 5px;
                font-weight: normal;
                text-align: center;
              }
              body{
          background-color: rgb(255, 240, 254)
      }
        </style>
<div class="container">

    <h1>Top Headlines</h1>
    
        <div>
            {{macro.displayArticleList(articles)}}
        </div>
</div>>
{%endblock %}